.angry-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -4;
}

/* ======================
   CAT
====================== */

.angry-cat {
  position: fixed;
  bottom: 2px;
  left: 20px;
  width: 300px;
  image-rendering: pixelated;
  animation: none;
}

/* ======================
   CLOUD BASE
====================== */

.cloud {
  position: fixed;
  opacity: 0.95;
  image-rendering: pixelated;
  animation: driftX ease-in-out infinite alternate;
}

@keyframes driftX {
  0% { transform: translateX(0); }
  100% { transform: translateX(42px); }
}

/* ======================
   CLOUD POSITIONS
====================== */

.cloud-1 { top: -10px; left: 10px; width: 150px; animation-duration: 5s; }
.cloud-2 { top: -10px; left: 700px; width: 250px; animation-duration: 6s; }
.cloud-3 { top: 120px; left: 950px; width: 350px; animation-duration: 5.5s; }

.cloud-4 { top: 10px; left: 100px; width: 400px; animation-duration: 6.5s; }
.cloud-5 { top: 140px; left: 520px; width: 140px; animation-duration: 5.2s; }

.cloud-6 { top: 300px; left: 700px; width: 120px; animation-duration: 6s; }
.cloud-7 { top: 450px; right: 500px; width: 150px; animation-duration: 5s; }

.cloud-8 { top: 350px; left: -60px; width: 300px; animation-duration: 5.8s; }
.cloud-9 { top: 120px; right: -180px; width: 520px; animation-duration: 6s; }
.cloud-10 { top: -50px; right: 300px; width: 320px; animation-duration: 6s; }

/* ======================
   THUNDER (SPRITE)
====================== */

.thunder {
  position: fixed;
  image-rendering: pixelated;
  animation: thunderFlash 2s ease-out;
  background: transparent;
}

/* Positions (centered under clouds) */

.thunder-1 { top: 80px; left: calc(10px + 75px - 30px); width: 40px; }
.thunder-2 { top: 130px; left: calc(700px + 125px - 40px); width: 80px; }
.thunder-3 { top: 325px; left: calc(950px + 175px - 50px); width: 100px; }

.thunder-4 { top: 245px; left: calc(100px + 200px - 55px); width: 110px; }
.thunder-5 { top: 225px; left: calc(520px + 70px - 15px); width: 40px; }

.thunder-6 { top: 370px; left: calc(700px + 60px - 15px); width: 50px; }
.thunder-7 { top: 540px; right: calc(500px + 75px - 20px); width: 40px; }

.thunder-8 { top: 532px; left: calc(-60px + 150px - 45px); width: 90px; }
.thunder-9 { top: 435px; right: calc(-180px + 260px - 70px); width: 140px; }
.thunder-10 { top: 135px; right: calc(300px + 160px - 50px); width: 100px; }

/* ======================
   DOUBLE BLINK
====================== */

@keyframes thunderFlash {
  0%   { opacity: 0; transform: scale(0.8); }

  10%  { opacity: 1; transform: scale(1.1); }
  25%  { opacity: 0; }

  40%  { opacity: 1; transform: scale(1.1); }
  55%  { opacity: 0; }

  100% { opacity: 0; }
}