/* Background.css */

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  /* IMPORTANT */

  overflow: hidden;
  z-index: -10;
}
@keyframes sunPulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}
