/* .flower-field {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 240px;

  background: url("/assets/flowerfield_sprite.png") repeat-x;
  background-size: auto 240px;

  pointer-events: none;
  z-index: 2; 
} */

.flower-field {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;            /* IMPORTANT */
  height: 240px;
  background-repeat: repeat-x;
  background-size: auto 100%;
  opacity: 0.95;
  pointer-events: none;
}